---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/Nav.astro'
import Hero from '../components/Hero.astro'
import Features from '../components/Features.astro'
import Modules from '../components/Modules.astro'
import Launcher from '../components/Launcher.astro'
import Compare from '../components/Compare.astro'
import Download from '../components/Download.astro'
import FAQ from '../components/FAQ.astro'
import Footer from '../components/Footer.astro'
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Features />
    <Modules />
    <Launcher />
    <Compare />
    <Download />
    <FAQ />
  </main>
  <Footer />
</Layout>
